* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

#navigation {
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 100px;
}
#navigation ul {
  list-style-type: none;
  display: inline;
  padding: 0;
}
#navigation li a {
  text-decoration: none;
  padding: 18px 20px;
  font-size: 20px;
  color: black;
}
#navigation li {
  display: inline;
}
#navigation li a:hover {
  color: #945bff;
}
h1 {
  font-size: 60px;
}

.fix {
  overflow: hidden;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}
.bule-highlight {
  color: rgba(0, 140, 255, 0.644);
}

.flexible-container {
  display: flex;
  margin-bottom: 50px;
}

.align-item-center {
  align-items: center;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}

.half-width h2 {
  margin-bottom: 32px;
}
.half-width img {
  width: 100%;
}
#img-size {
  width: 50%;
}
.link-btn {
  text-decoration: none;
  background-image: linear-gradient(45deg, #945bff, #5bb5ff);
  color: white;
  border-radius: 100px;
  padding: 10px 20px;
  margin-top: 111px;
  display: inline-block;
}
.order-btn {
  border: none;
  color: white;
  background-color: #5bb5ff;
  padding: 10px 15px;
  margin-bottom: 5px;
  margin-top: 15px;
  border-radius: 5px;
}
#about-section {
  background-image: url(images/about-bg.jpg);
  background-repeat: no-repeat;
}
.item-text {
  text-align: center;
  margin-bottom: 50px;
}
.quarterWrapper {
  display: flex;
  gap: 30px;
}
.quarter-width {
  flex: 4;
}
.quarter-width img {
  width: 100%;
}
.single-box {
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}
.single-box img {
  border-radius: 25px;
}
.box-content {
  padding: 25px;
}
.achievements {
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  margin: 50px 350px;
}

.achievements-items {
  padding: 25px 114px;
}

footer {
  padding-top: 30px;
  text-align: center;
  background-color: black;
  color: white;
  height: 200px;
}
