body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
#navigation {
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
}
#navigation ul {
  list-style-type: none;
  display: inline;
  padding: 0;
}
#navigation li a {
  text-decoration: none;
  padding: 18px 20px;
  font-size: 20px;
  color: gray;
}
#navigation li {
  display: inline;
}
#navigation li a:hover {
  background-color: rgb(104, 102, 102);
  border-radius: 10px;
  color: rgb(255, 255, 255);
}
h1 {
  font-size: 60px;
}
.bule-highlight {
  color: rgba(0, 140, 255, 0.644);
}
.flexible-container {
  display: flex;
  margin-bottom: 50px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 100%;
}
#img-size {
  width: 50%;
}
.link-btn {
  text-decoration: none;
  background-image: linear-gradient(45deg, #945bff, #5bb5ff);
  color: white;
  border-radius: 100px;
  padding: 10px 20px;
}
.order-btn {
  border: none;
  color: white;
  background-color: #5bb5ff;
  padding: 10px 15px;
  margin-bottom: 5px;
  border-radius: 5px;
}
#about-section {
  background-image: url(images/about-bg.jpg);
  background-repeat: no-repeat;
  height: 700px;
}
.item-text {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  padding-top: 50px;
}
.quarter-width {
  width: 29%;
  float: left;
  padding-left: 2%;
  margin-left: 2%;
}
.quarter-width img {
  width: 100%;
}
.single-box {
  background-color: white;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.65);
  border-radius: 20px;
}
footer {
  background-color: black;
  color: white;
}
